@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
	font-family: "Whitney";
	src: url("../public/whitneybook.otf");
}

@font-face {
	font-family: "Whitney Medium";
	src: url("../public/whitneymedium.otf");
}

@font-face {
	font-family: "Whitney SemiBold";
	src: url("../public/whitneysemibold.otf");
}

@font-face {
	font-family: "Whitney Bold";
	src: url("../public/whitneybold.otf");
}

@font-face {
	font-family: "Montserrat Black";
	src: url("../public/Montserrat-Black.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("../public/Montserrat-Bold.ttf");
}